In [8]:
#Q1
count=0
while count<=10:
    count+=1
    if count==5:
        break
    print(count)

1
2
3
4

In [ ]:
#Q2

In [13]:
list=["aryan",2 , 4 , "g" ,"h","regervr","wrwfwe","kartk" ]
index=0
for index in list:
    if index=="h":
        break
    print(index)

aryan
2
4
g

In [16]:
#Q3
count=0
while count <10:
    count+=1
    if count %2 ==0:
        continue
    print(count)

1
3
5
7
9

In [4]:
#Q3
for i in range(11):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [19]:
#Q4
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [34]:
#Q5
def multiplication_table(n):
    for i in range(1,n+1):
        print("multiplication table for ",{i})
        for j in range(1,11):
            print(i,"*",j,"=",i*j)
        print()    
multiplication_table(5)

multiplication table for  {1}
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

multiplication table for  {2}
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

multiplication table for  {3}
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

multiplication table for  {4}
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

multiplication table for  {5}
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
#Q6
count=0
while count<10:
    count+=1
    if count %2==0:
        continue